@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

/* declaring the root variables for our dashboard */

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-ligth: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1/2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-ligth);
}

/* Dark theme variables for dashboard */
.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-ligth);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: 0;
  appearance: none;
  text-decoration: none;
  list-style: none;
  border: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  /* overflow-x: hidden; */
  user-select: none;
  background-color: var(--color-background);
  color: var(--color-dark);
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 1.8rem;
  font-weight: 800;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.88rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profilepic {
  width: 2.8rem;
  height: 2.8rem;
  overflow: hidden;
  border-radius: 50%;
}

.textMuted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-danger);
}
.success {
  color: var(--color-success);
}
.warning {
  color: var(--color-warning);
}

.container {
  width: 100%;
  display: grid;
  gap: 1.8rem;
  margin: 0px auto;
  width: 96%;
  grid-template-columns: 14rem auto 23rem;
}
/* styling the side bar for dashboard */

aside {
  height: 100vh;
}

aside #logoSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

#logo {
  display: flex;
  gap: 0.7rem;
}

#logoSection img {
  width: 2rem;
  height: 2rem;
}

aside #closeicon {
  display: none;
  font-size: 2rem;
}

/* styling the sidebar links  */

aside #sidelinks {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 2.4rem;
}

aside h3 {
  font-weight: 500;
}

#sidelinks a {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  gap: 1rem;
  color: var(--color-info-dark);
  position: relative;
  height: 3.4rem;
  transition: all 300ms ease;
}

#sidelinks a i,
a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

#sidelinks a:last-child {
  position: absolute;
  bottom: 0.6rem;
  width: 100%;
}

#sidelinks a.active {
  color: var(--color-primary);
  background-color: var(--color-ligth);
  margin-left: 0;
}

#sidelinks a.active:before {
  content: "";
  height: 100%;
  width: 6px;
  background-color: var(--color-primary);
}

#sidelinks a.active i {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

#sidelinks a:hover {
  color: var(--color-primary);
}

#sidelinks a:hover i {
  margin-left: 1rem;
}

#msgCount {
  background-color: var(--color-danger);
  color: var(--color-white);
  border-radius: var(--border-radius-1);
  padding: 2px 10px;
  font-size: 12px;
}

/* styling of the main section  */

main {
  margin-top: 1.4rem;
}

#date {
  display: inline-block;
  background-color: var(--color-ligth);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
  padding: 0.5rem 0.6rem;
}

input[type="date"] {
  background-color: transparent;
  color: var(--color-dark);
}

#insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

#insights > div {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

#insights > div:hover {
  box-shadow: none;
}

#insights > div i {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 2rem;
}
#insights > div#expenses i {
  background-color: var(--color-danger);
}
#insights > div#income i {
  background-color: var(--color-success);
}

#insights > div #middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

#progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

#insights svg {
  width: 7rem;
  height: 7rem;
}

#insights svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 12px;
  stroke-linecap: round;
  transform: translate(8px, 14px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92px;
}

#insights #sales svg circle {
  stroke-dasharray: 180;
  stroke-dashoffset: -30px;
}

#insights #expenses svg circle {
  stroke-dasharray: 80;
  stroke-dashoffset: 20px;
}

#insights #income svg circle {
  stroke-dasharray: 120;
  stroke-dashoffset: 30px;
}

#number {
  position: absolute;
  top: 7%;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#insights small {
  margin-top: 1.2rem;
  display: block;
}

#recentOrders {
  margin-top: 1.4rem;
}

#recentOrders h2 {
  margin-bottom: 0.5rem;
}

#recentOrders table {
  background-color: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

#recentOrders table:hover {
  box-shadow: none;
}

#recentOrders table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-ligth);
  color: var(--color-dark-variant);
}

#recentOrders table tbody tr:last-child td {
  border: none;
}

#recentOrders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}

#right {
  margin-top: 1.4rem;
}

#top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

#top button {
  display: none;
}

#theme {
  background-color: var(--color-ligth);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  gap: 0.5rem;
  border-radius: var(--border-radius-1);
  font-size: 1.7rem;
}

#theme i {
  padding: 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#theme i.active {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-1);
}

#profile {
  display: flex;
  gap: 1rem;
  text-align: right;
}

#recentUpdates {
  margin-top: 1rem;
}

#recentUpdates h2 {
  margin-top: 1rem;
}

#updates {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

#updates:hover {
  box-shadow: none;
}

.update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* styling of the sales analyticts */

#salesAnalyict {
  margin-top: 2rem;
}

#salesAnalyict h2 {
  margin-bottom: 0.9rem;
}

#salesAnalyict .item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 0.7rem;
  padding: 1.2rem var(--card-padding);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

#salesAnalyict .item:hover {
  box-shadow: none;
}

#salesAnalyict .info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0px;
  width: 100%;
}

.item #icon {
  font-size: 1.7rem;
  padding: 0.6rem;
  color: var(--color-white);
  border-radius: 50%;
  display: flex;
}

.item.online #icon {
  background-color: var(--color-primary);
}

.item.offline #icon {
  background-color: var(--color-danger);
}

.item.customers #icon {
  background-color: var(--color-success);
}

#salesAnalyict .addProduct {
  height: 5rem;
  background-color: transparent;
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 300ms ease;
}

.addProduct div {
  display: flex;
  gap: 0.7rem;
}

#salesAnalyict .addProduct:hover {
  background-color: var(--color-ligth);
}

.addProduct div i {
  font-size: 2rem;
}

.addProduct div i {
  font-weight: 600;
}

/* adding media queries for responsivness of dashboard */

@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }
  #logoSection h2 {
    display: none;
  }
  #sidelinks h3 {
    display: none;
  }
  #sidelinks a {
    width: 5.6rem;
  }
  #sidelinks a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }
  #insights {
    grid-template-columns: 1fr;
    gap: 0;
  }
  #recentOrders {
    width: 96%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }
  #recentOrders table {
    width: 83vw;
  }
  main table thead tr th:last-child,
  main table thead tr th:first-child {
    display: none;
  }
  main table tbody tr td:last-child,
  main table tbody tr td:first-child {
    display: none;
  }
}

/* defferent media queries for mobile devices  */

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }
  aside {
    position: fixed;
    left: -100%;
    background-color: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-ligth);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0%;
    }
  }

  aside #logo {
    margin-left: 1rem;
  }
  #logo h2 {
    display: inline;
  }
  #sidelinks h3 {
    display: inline;
  }
  #sidelinks a {
    width: 100%;
    height: 3.3rem;
  }
  #sidelinks a:last-child {
    position: absolute;
    bottom: 1rem;
  }
  aside #closeicon {
    display: inline;
    cursor: pointer;
  }
  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }
  #recentOrders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  #recentOrders table {
    width: 100%;
    margin: 0;
  }
  #right {
    width: 94%;
    margin: 0 auto 4rem;
  }
  #top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.5rem;
    background-color: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1em var(--color-ligth);
  }
  #theme {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }
  #profile #info {
    display: none;
  }
  #top button {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-dark);
    font-size: 2rem;
    position: absolute;
    left: 1rem;
  }
}
